##### Pandas - DataFrame 클래스 - 행(row)과 열(column)로 이루어진 2차원 배열 리스트이다.

In [2]:
import pandas as pd

#1. 시리즈 결합해서 데이터 프레임 만들기
index=["2018", "2019", "2020", "2021"]

younghee = pd.Series([143, 150, 157, 160], index=index)
cheolsu = pd.Series([165, 172, 175, 180], index=index)

growth = pd.DataFrame({
    '영희' : younghee,
    '철수' : cheolsu
})

growth

       영희   철수
2018  143  165
2019  150  172
2020  157  175
2021  160  180

In [5]:
# 2차원 리스트 데이터로 프레임 만들기(딕셔너리 아닐때)
import pandas as pd

data = [[143, 165], [150, 172], [157, 175], [160, 180]] # 2차원 클래스
index=["2018", "2019", "2020", "2021"]

growth = pd.DataFrame(data, columns=['영희', '철수'], index=index)
growth

       영희   철수
2018  143  165
2019  150  172
2020  157  175
2021  160  180

In [69]:
# 일반적인 데이터프레임 만들기
index=["2018", "2019", "2020", "2021"]

data = {
    '영희' : [143, 150, 157, 160],
    '철수' : [165, 172, 175, 180]
}
growth = pd.DataFrame(data, index=index)
growth
# print(growth)
# print(growth.columns) # 칼럼 - 영희, 철수
# print(growth.values) #칼럼값

# 열 선택
# print(growth['철수'])
# print(growth['영희', '철수']) - key error. 리스트니까 [[]]으로 해결 가능. 안의 괄호는 인덱스. 밖의 괄호는 검색
# 열과 이름까지 같이 선택
# print(growth[['철수']])
# print(growth[['영희', '철수']])

# 행 선택
# # loc[행(문자), iloc[행(숫자)]
# print(growth.loc['2020']) # 행으로 조회
# print(growth.iloc[2]) # 인덱스로 조회
# # 다중 행 선택
# print(growth.loc[['2020', '2021']])
# print(growth.iloc[[2, 3]])

       영희   철수
2018  143  165
2019  150  172
2020  157  175
2021  160  180

In [79]:
import pandas as pd

# 인덱스를 칼럼 인덱스로 설정하기
data = {
    '연도' : ["2018", "2019", "2020", "2021"],
    '영희' : [143, 150, 157, 160],
    '철수' : [165, 172, 175, 180]
}
growth = pd.DataFrame(data)
growth = growth.set_index('연도')
print(growth)

       영희   철수
연도
2018  143  165
2019  150  172
2020  157  175
2021  160  180

In [87]:
index=["2018", "2019", "2020", "2021"]

data = {
    '영희' : [143, 150, 157, 160],
    '철수' : [165, 172, 175, 180]
}
growth = pd.DataFrame(data, index=index)
# print(growth)
print()
# 특정요소 1개 선택 - 행과 열을 모두 알아야함
# loc[행(문자), 열(문자)], iloc[행(숫자), 열(숫자)]
print(growth.loc['2020', '철수'])
print(growth.iloc[2, 1])

# 행과 열을 전체 선택(범위연산자 - :), 3번째 값이 (step-간격)
# iloc[a:b:c] - (a-시작인덱스, b- 끝인덱스, c- 간격)
# a가 생략되었을때 0으로 간주. b가 생략되면 끝인덱스으로 간주. c는 1로 간주
print(growth.iloc[ : : 1 ])  # 전체를 1행 간격으로 출력
print(growth.iloc[ : : 2])  # 전체를 2행 간격으로 출력
print(growth.iloc[0 :3 : 1])  # 2행까지 1행 간격으로 출력
print(growth.iloc[ : : -1])  # 전체를 역순으로 출력

175
175
       영희   철수
2018  143  165
2019  150  172
2020  157  175
2021  160  180
       영희   철수
2018  143  165
2020  157  175
       영희   철수
2018  143  165
2019  150  172
2020  157  175
       영희   철수
2021  160  180
2020  157  175
2019  150  172
2018  143  165

In [11]:
import pandas as pd

index=["2018", "2019", "2020", "2021"]

data = {
    '영희' : [143, 150, 157, 160],
    '철수' : [165, 172, 175, 180]
}
growth = pd.DataFrame(data, index=index)
print(growth)

# 열 추가 - 사람 1명 추가. 열일 때는 loc 안씀
growth['시현'] = [155, 160, 165, 170]
print(growth)

# 행 추가 - 2022년
growth.loc['2022'] = [162, 181, 172]
print(growth)
# print()

# 행 삭제 - 2020년, drop()
# # 복사본 생성 - 원본 유지 목적(copy () 깊은 복사 ; 원본과 관계가 없음(원본과 별도로 삭제, 수정) <-> 얕은 복사 ; 원본과 관계 있음))
growth2 = growth.copy()
growth2 = growth2.drop('2020', axis=0) # 행 삭제 axis=0 생략가능 (행이 0번 열이 1번. 열은 생략 불가능)
print(growth2)

# # 열 삭제 - 철수
growth3 = growth.copy()
growth3 = growth3.drop('철수', axis=1)
print(growth3)

       영희   철수
2018  143  165
2019  150  172
2020  157  175
2021  160  180
       영희   철수   시현
2018  143  165  155
2019  150  172  160
2020  157  175  165
2021  160  180  170
       영희   철수   시현
2018  143  165  155
2019  150  172  160
2020  157  175  165
2021  160  180  170
2022  162  181  172
       영희   철수   시현
2018  143  165  155
2019  150  172  160
2021  160  180  170
2022  162  181  172
       영희   시현
2018  143  155
2019  150  160
2020  157  165
2021  160  170
2022  162  172

In [27]:
# 얕은 복사와 깊은 복사
# 얕은 복사 - 복사본을 수정하면 원본도 수정된다
# 깊은 복사 - 복사본을 수정해도 원본은 유지된다. 파이썬은 copy() 사용
a = [1, 2, 3, 4]
a

b = a # a 리스트를 b에 저장함
b
b[1] = 10
b
print(a,b) # b리스트를 고쳤는데 a까지 같이 동기화 ; 얉은 복사.

# 깊은 복사
c = [1, 2, 3, 4]
c
d = c.copy()
d
d[1] = 10
print(c, d) # d만 바뀜 ; 깊은 복

[1, 10, 3, 4] [1, 10, 3, 4]
[1, 2, 3, 4] [1, 10, 3, 4]

In [45]:
# 데이터 요소 수정(변경)
import pandas as pd

index=["2018", "2019", "2020", "2021"]

data = {
    '영희' : [143, 150, 157, 160],
    '철수' : [165, 172, 175, 180]
}
growth = pd.DataFrame(data, index=index)
# print(growth)

# 2020년 철수의 키 177로 변경
# 요소 선택 - loc[행, 열]
growth.loc['2020', '철수'] = 177
print(growth)

# 칼럼 이름 변경
#'영희'를 'younghee'
growth.columns # 칼럼검색
print(growth.columns)
print(growth.columns[1])
# 칼럼이름 변경 - rename(columns = {변경전: 변경후}, inplace = True) # inplace=True(즉시실행)
growth.rename(columns = {'영희' : 'younghee', '철수' : 'cheolsu'}, inplace = True)
print(growth)

       영희   철수
2018  143  165
2019  150  172
2020  157  177
2021  160  180
Index(['영희', '철수'], dtype='object')
철수
      younghee  cheolsu
2018       143      165
2019       150      172
2020       157      177
2021       160      180

In [136]:

import pandas as pd

index=["2018", "2019", "2020", "2021"]

data = {
    '영희' : [143, 150, 157, 160],
    '철수' : [165, 172, 175, 180]
}
growth = pd.DataFrame(data, index=index)

# csv 파일 만들기 - to_csv(경로)
# growth.to_csv('./datas/growth.csv')

# csv 파일 읽기 - to_read_csv(경로). pd로 읽어와야함
growth = pd.read_csv('./datas/growth.csv', index_col=0)
print(growth)

       영희   철수
2018  143  165
2019  150  172
2020  157  175
2021  160  180

In [90]:
#실습2

index=["재천", "선영", "일성"]

data = {
    '국어' : [90, 80, 70],
    '수학' : [80, 75, 95],
    '영어' : [85, 95, 100]
}
score = pd.DataFrame(data, index=index)
print(score)

    국어  수학   영어
재천  90  80   85
선영  80  75   95
일성  70  95  100